{% extends "layout.html" %}
{% block head%}
{{super()}}
{% endblock %}
{% block content %}
<div class="container">
<h1>Registered users</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users|sort(attribute="firstname") %}
        <tr>
            <td>{{ loop.index }}</td>
            <td><a href="/admin/user/{{ user.id }}/">{{ user.firstname }}</a></td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="/admin/user/{{ user.id }}/"><i class="glyphicon glyphicon-user" title="View this user"></i></a>
                <a href="/admin/edit_user/{{ user.id }}/"><i class="glyphicon glyphicon-edit" title="Edit this user"></i></a>
                <a href="/admin/delete_user/{{ user.id }}/"><i class="glyphicon glyphicon-remove" title="Delete this user"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<a href="/admin/create_user/" class="btn btn-default">Add a new user</a>
<br /><br />
<p class="text-info">As an administrator you are not listed in this table.</p>
</div>
{% endblock %}