{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1>You are subscribed to {{ feeds.all()|count }} feeds &middot; Add a <a href="/create_feed/">feed</a></h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Status</th>
                    <th>Title</th>
                    <th>Site</th>
                    <th>Articles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for feed in feeds|sort(attribute="title") %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if feed.enabled  %}
                            <i class="glyphicon glyphicon-eye-open" title="Feed enabled"></i>
                        {% else %}
                            <i class="glyphicon glyphicon-eye-close" title="Feed disabled"></i>
                        {% endif %}
                    </td>
                    <td><a href="/feed/{{ feed.id }}" {% if feed.description %}title="{{ feed.description  }}"{% endif %}>{{ feed.title }}</a></td>
                    <td><a href="{{ feed.site_link }}">{{ feed.site_link }}</a></td>
                    <td>{{ feed.articles.all()|count }}</td>
                    <td>
                        <a href="/articles/{{ feed.id }}/100"><i class="glyphicon glyphicon-th-list" title="Articles"></i></a>
                        <a href="/edit_feed/{{ feed.id }}"><i class="glyphicon glyphicon-edit" title="Edit this feed"></i></a>
                        <a href="/delete_feed/{{ feed.id }}"><i class="glyphicon glyphicon-remove" title="Delete this feed"></i></a>
                    </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div><!-- /.container -->
{% endblock %}
